    <p>
        <%= f.label :Pname %>
        <%= f.text_field :Pname %>
    </p>
    <p>     
        <%= f.label :Pcode %>
        <%= f.text_field :Pcode %>
    </p>
    <p>     
        <%= f.label :Pstatus %>
        <%= f.text_field :Pstatus %>
    </p>
    